* {
  font-family: "Calibri";
}

html {
  height: 100vh;
}
body {
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(137, 200, 46);
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  border-style: solid;
}

.form input {
  width: 200px;
  margin: 5px;
  clear: both;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submitB {
  background-color: rgb(231, 0, 100);
  border-radius: 5px;
  width: 60px !important;
  z-index: 3;
}

label {
  display: table-cell;
}

p {
  display: table-row;
}

#message {
  display: none;
}

#eMsg {
  display: none;
}

#eCard {
  display: none;
}
/* css for username input */
.valid {
  color: green;
}

.valid:before {
  content: "✔ Your username is valid!";
}

.invalid:before {
  content: "❌ Not a valid username";
  color: red;
}

.validEmail {
  color: green;
}

.validEmail:before {
  content: "✔ Your email is valid!";
}

.invalidEmail:before {
  content: "❌ Not a valid email";
  color: red;
}

.validCard {
  color: green;
}

.validCard:before {
  content: "✔ Your card is valid!";
}

.invalidCard:before {
  content: "❌ Not a valid card";
  color: red;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
